header {
        background: url("../../Assets/img/bg-header.gif");
        width: 100%;
}
.header {
        background: url("../../Assets/img/bg-header.gif");
        margin: auto;
        width: 984px;
        position: relative;
}