header {
        background: url("../../Assets/img/bg-header.gif");
        width: 100%;
}
.header {
        background: url("../../Assets/img/bg-header.gif");
        margin: auto;
        width: 984px;
        position: relative;
}

@media only screen and (min-width:984px) {
  .header{
    max-width: 100%;
    left: 0;
    align-items: center;
    justify-content: start;
  }
  .header-logo {
    max-width: 10%;
  }
}