.container {
  display: flex;
  justify-content: space-around;
}
.options {
  color: green;
}

.containerleft,.containerright {
  width: 30%;
  border: 1px solid red;
  padding: 30px;
  background: #ededed;
  box-shadow: 1px 1px 1px 1px gray inset;
  border-radius: 10px;

}
.classroom,.left {
  overflow-y: scroll;
}
.container {
 
}