.form {
  min-width: 720px;
  padding: 30px;
  background: #ededed;
  // box-shadow: 1px 1px 1px 1px gray inset;
  border: #c81e1e solid 2px;
  // border-right: #c81e1e solid 2px;
  border-radius: 10px;
  p{
    margin-top: 10px;
  }
}
.line {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
