.form {
  min-width: 747px;
  padding: 30px;
  background: #ededed;
  box-shadow: 1px 1px 1px 1px gray inset;
  border-radius: 10px;

}
.line {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
