.form {
     border-radius: 10px;
    border: #c81e1e solid 2px;
     overflow-x: hidden;
    padding: 30px;
    background: #ededed;
    z-index: 10;
    position: fixed;
    right: 15%;
    top:5%;
    bottom: 10%;
    left: 30%;
}

label {
  font-size: 20px;
  font-weight: bold;
  align-items: flex-start;
  max-width: 50%;
}
.input{
  color: black;
}