* {
  font-family: "Times New Roman", Times, serif;
}

.input {
  color: black;
  border-radius: 4px;
  outline: none;
  padding-left: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  height: 38px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px gray inset;
}
