* {
  font-family: "Times New Roman", Times, serif;
}

.input[type='text']{
  color: black;
  border-radius: 4px;
  outline: none;
  padding-left: 8px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  height: 38px;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px gray inset;
  &::placeholder {
    font-size: 14px;
    font-weight: 500;
  }
}
.css-14el2xx-placeholder {
  font-size: 14px;
  font-weight: 500;
}

.container{
  // width: 726px;
  padding: 20px;
  background: #ededed;
  border: #c81e1e solid 2px;
  border-radius: 10px;
} 
.line {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.form {
  padding: 30px;
  background: #ededed;
  border: #c81e1e solid 2px;
  border-radius: 10px;

}
.line {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
