.form{
    padding: 30px;
  box-shadow: 1px 1px 1px 1px gray inset;
  border-radius: 10px;
  position: relative;
}
.nav_form {
    margin-bottom: 50px;
}
.nav_form ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_form ul li{
    background: gray;
    cursor: pointer;
    color: white;
    padding: 5px 0px;
    width: 25%;
    text-align: center;
    border-right: 1px solid #fff;
}
.option {
  width: 100%;
  min-height: 175px;
  background: url("../../../Assets/img/bg-dangkymonhoc.png");
  background-repeat: no-repeat;
  background-size: contain;
}
